@import "../../assets/styles/variables";

.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    min-height: 100%;


    // background-image: url("../../assets/images/wedding-bg.jpg");
    //     background-size: cover;
    //     background-position: center;
   
    &_top_container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;

    }

    &_social_container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        gap: 10px;
    }
        
    &_title{
        background-color: transparent;
        font-family: 'Pacifico', cursive;
        font-weight: bold;
        font-size: 5vh;
        &_sub{
            background-color: transparent;
            font-family: 'Pacifico', cursive;
            margin-bottom: 10px;
        }
    }


    &_address{
        width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:50px;
    
        &_map{
            height: 350px;
            width: 80%;
            // min-width: 300px;
            border: 1px;
            border-radius: 10px;
            margin: 15px;
            background: transparent;

            h3{
                font-size: 2.5vh;
                font-weight: bold;
                color: $font-color-white;
                padding-bottom: 10px;
            }
            
            iframe{
                -webkit-box-shadow: -8px -7px 19px 0px $nice-color;
                -moz-box-shadow: -8px -7px 19px 0px $nice-color;
                box-shadow: -8px -7px 19px 0px $nice-color;
                transition: all 0.5s ease-in-out;
                border-radius: 10px;
                width: 100%;
                // min-width: 300px;
                
                &:hover{
                    box-shadow: 0.5rem 0.5rem $nice-color, -0.5rem -0.5rem $base-color;
                    -webkit-box-shadow: 0.5rem 0.5rem $nice-color, -0.5rem -0.5rem #ccc;
                    -moz-box-shadow: 0.5rem 0.5rem $nice-color, -0.5rem -0.5rem #ccc;
                    transform: scale(1.05);
                }
            }
    
        }
    }
}


@media (max-width: 768px) {
    .home{
        &_title{
            font-size: 8vh;
        }   

        &_address{
            position: relative;
            top:0;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        
            &_map{
                width: 90%;

                iframe{
                    width: 100%;
                }
            }
        }
    }
    
}
