@import "../../assets/styles/variables";

.page{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    height: fit-content;
    padding-bottom: 100px;
    width: 100vw;
}
.welcome{
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2{
        color: $accent-color;
        font-size: 1.75rem;
    }
    p{
        font-size: 1.25rem;
    }
}

.contact{
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    &_left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex: 3;
        height: 100%;
        min-width: 350px;
        background-color: $base-color;
        border-radius: 10px;
        // border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;
        
        // background: linear-gradient(270deg, $accent-color 0%, $secondary-color 0%, $tertiary-color 100%);

        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='450' height='800' preserveAspectRatio='none' viewBox='0 0 450 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='450' height='800' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M366.723%2c91.413C382.965%2c91.741%2c400.898%2c90.768%2c409.937%2c77.27C419.796%2c62.547%2c418.876%2c42.653%2c409.405%2c27.677C400.503%2c13.602%2c383.349%2c7.97%2c366.723%2c8.938C351.776%2c9.808%2c339.603%2c19.379%2c331.857%2c32.191C323.774%2c45.561%2c318.505%2c62.12%2c326.431%2c75.583C334.277%2c88.911%2c351.26%2c91.101%2c366.723%2c91.413' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M370.8491900843765 58.47071824986964L258.4272845061418 72.27439256216098 384.65286439666784 170.89262382810435z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M332.79%2c869.919C364.691%2c870.598%2c394.65%2c852.405%2c409.487%2c824.156C423.431%2c797.608%2c415.401%2c766.803%2c400.665%2c740.687C385.604%2c713.995%2c363.363%2c690.365%2c332.79%2c688.228C298.548%2c685.834%2c262.442%2c699.643%2c246.213%2c729.89C230.606%2c758.978%2c244.191%2c792.928%2c261.55%2c821.005C277.785%2c847.264%2c301.924%2c869.262%2c332.79%2c869.919' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M170.491%2c290.689C213.49%2c289.984%2c251.581%2c262.643%2c270.824%2c224.183C288.284%2c189.285%2c276.765%2c149.946%2c258.038%2c115.711C238.279%2c79.589%2c211.501%2c44.427%2c170.491%2c40.764C123.431%2c36.56%2c74.244%2c56.132%2c50.894%2c97.206C27.755%2c137.908%2c39.675%2c187.744%2c64.292%2c227.57C87.499%2c265.114%2c126.36%2c291.413%2c170.491%2c290.689' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M164.24751096744188 452.9015943685788L226.02789878961391 469.4555993936114 219.96871241607678 368.50801514783706z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M152.441%2c770.024C174.794%2c769.301%2c187.224%2c746.651%2c197.925%2c727.012C207.983%2c708.553%2c216.936%2c687.747%2c207.507%2c668.959C197.254%2c648.53%2c175.299%2c636.451%2c152.441%2c636.383C129.467%2c636.315%2c107.767%2c648.441%2c96.807%2c668.632C86.294%2c688%2c90.955%2c710.81%2c101.556%2c730.13C112.668%2c750.382%2c129.353%2c770.771%2c152.441%2c770.024' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M252.172%2c623.42C289.877%2c621.309%2c323.754%2c603.048%2c344.091%2c571.228C366.325%2c536.439%2c377.23%2c493.543%2c358.789%2c456.603C338.48%2c415.923%2c297.556%2c384.343%2c252.172%2c387.106C209.912%2c389.679%2c186.892%2c431.582%2c165.895%2c468.347C145.153%2c504.665%2c120.175%2c546.08%2c140.509%2c582.628C161.158%2c619.742%2c209.766%2c625.795%2c252.172%2c623.42' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M174.08248876883414 660.5176300308603L253.38706882780764 602.8994799524102 116.464338690384 581.2130499718869z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='450' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); 
        background-size: cover;
        
        &_top{

            &_title{
                font-weight: bold;
                font-size: 2.3rem;
                margin-bottom: 1rem;
                color: $font-color-white;
                text-transform: uppercase;

                &_sub{
                    font-weight: bold;
                    font-size: 1.15rem;
                    margin-bottom: 10px;
                    color: $font-color-white;
                }
            }
        }


        &_middle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100%;

            &_item{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                
                a{
                    color: $font-color-white;
                    text-decoration: none;
                    font-size: 1.15rem;
                    font-weight: bold;
                    transition: all 0.3s ease-in-out;
                    svg {
                        width: 30px;
                        padding-right: 10px;
                      }
                    &:hover {
                        transform: scale(1.2);
                      }
                }
            }
        }

        &_bottom{
            // background-color: beige;
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-end;
            // align-items: flex-end;
            // width: 100%;
            // flex: 1;
        
            &_circle{
                width: 150px;
                height: 150px;
                border-radius: 100%;
                background-color: aqua;
                
                &_half{
                    width: 300px;
                    height: 300px;
                    border-radius: 100%;
                    background-color: $nice-color;
                    transform: translate(50%, 50%);
                    overflow: hidden;
                }
            }
        }
  
    }    

    &_right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 5;
        width: 100%;    
        height: 100%;

        &_form{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 80%;
            transition: all .3s ease-in-out;
            text-decoration: none;



            &_item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: center;
                width: 40%;
                gap: 20px;

                label{
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: $tertiary-color;
                    text-decoration: none;
                    transition: all .3s ease-in-out;
                }

                &_full{
                    width: 90%;

                }
                &_right{
                    float: right;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 95%;
                    
                }
            }

            input, textarea{
                border: none;
                -webkit-appearance: none;
                width: 100%;
                height: 40px;
                border-bottom: 1px solid gray;
                padding: 0 10px;
                font-size: 1.2rem;
                transition: all .3s ease-in-out;
                color: $font-color-white;

                &:focus{
                    outline: none;
                    border-bottom: 1px solid $base-color;
                }
            }

            &_button{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 10px;
                border: 1px solid $base-color;
                background-color: $base-color;
                color: $font-color-white;
                width: 150px;
                height: 70px;
                margin: 0 20px;
                font-size: 1.3rem;
                transition: all .3s ease-in-out;
                cursor: pointer;

                &:hover{
                    transform: rotate(5deg);
                }
            }
        }
    }

 

}

.address{
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &_map{
        height: 350px;
        width: 80%;
        // min-width: 300px;
        border: 1px;
        border-radius: 10px;
        margin: 15px;
        -webkit-box-shadow: -8px -7px 19px 0px $nice-color;
        -moz-box-shadow: -8px -7px 19px 0px $nice-color;
        box-shadow: -8px -7px 19px 0px $nice-color;
        transition: all 0.5s ease-in-out;
        background: transparent;
        
        iframe{
            border-radius: 10px;
            width: 100%;
            // min-width: 300px;
        }

        &:hover{
            box-shadow: 0.5rem 0.5rem $nice-color, -0.5rem -0.5rem $base-color;
            -webkit-box-shadow: 0.5rem 0.5rem $nice-color, -0.5rem -0.5rem #ccc;
            -moz-box-shadow: 0.5rem 0.5rem $nice-color, -0.5rem -0.5rem #ccc;
            transform: scale(1.05);
        }
    }
}


.error_message{
    color: red;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}


svg{
    max-width: 100%;
}

@media (max-width: 768px) {
    .contact{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        justify-content: center;

        &_left{
            width: 90%;
            min-height: 600px;

            &_top{

                p{
                    width: 95%;
                }
            }
        }
        &_right{
            width: 90%;
            min-height: 1000px;

            &_form{
                flex-direction: row;
                &_item{
                    width: 100%;
                    padding: 20px 0px;
                    &_full{
                        width: 100%;
                    }
                }
                &_button{
                    margin: 0 0;
                }

                input, textarea{
                    width: 90%;
                }
            }
        }
    }
    .address{
        position: relative;
        top:0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        &_map{
            width: 90%;

            iframe{
                width: 100%;
            }
        }
    }
    
}