@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{

    background-color: white;
}
html{
    font-size: 16px;
}
body{
    font-family: "Jost",'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

svg{
    fill: currentColor;
}